---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=ec1bfa4878fe518697ed0d19522f2295&q=New%20York,%20New%20York,%20US&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-73.9866,"lat":40.7306},"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"},{"id":701,"main":"Mist","description":"mist","icon":"50n"}],"base":"stations","main":{"temp":25.48,"feels_like":6.6,"temp_min":21.99,"temp_max":28.4,"pressure":1016,"humidity":93},"visibility":3219,"wind":{"speed":25.32,"deg":30,"gust":34.52},"snow":{"1h":0.15},"clouds":{"all":90},"dt":1612167901,"sys":{"type":1,"id":4610,"country":"US","sunrise":1612181146,"sunset":1612217597},"timezone":-18000,"id":5128581,"name":"New
        York","cod":200}'
  recorded_at: Mon, 01 Feb 2021 08:25:30 GMT
recorded_with: VCR 6.0.0
