---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=ec1bfa4878fe518697ed0d19522f2295&q=New%20York,%20New%20York,%20US&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-73.9866,"lat":40.7306},"weather":[{"id":701,"main":"Mist","description":"mist","icon":"50n"},{"id":601,"main":"Snow","description":"snow","icon":"13n"}],"base":"stations","main":{"temp":23.29,"feels_like":13.08,"temp_min":21,"temp_max":25,"pressure":1022,"humidity":86},"visibility":2012,"wind":{"speed":9.22,"deg":50,"gust":18.41},"snow":{"1h":0.87},"clouds":{"all":90},"dt":1612150201,"sys":{"type":1,"id":5141,"country":"US","sunrise":1612094803,"sunset":1612131122},"timezone":-18000,"id":5128581,"name":"New
        York","cod":200}'
  recorded_at: Mon, 01 Feb 2021 03:33:34 GMT
recorded_with: VCR 6.0.0
