// Place all the styles related to the Cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-logo {
  width: 75%;
}

.reg {
  position: relative;
  bottom: 8px;
}
